.container {
  z-index: 3;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transition: scale 0.3s;
  transform: translate(-50%, 50%);
  min-width: 80%;
  min-height: 30%;
  border-radius: var(--border-radius-big);
  background-color: var(--first-color);
  border: 2px solid var(--linear2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  transform-origin: top left;
  padding: 8px;
  & * {
    font-weight: 400;
  }
  .error {
    display: flex;
    font-size: var(--font-very-little);
    padding: 16px;
    @media (max-width: 779px) {
      font-size: 0.8rem;
    }
    & span {
      text-align: center;
    }
  }
  .button {
    display: flex;
    min-width: 100px;
    min-height: 30px;
    border: none;
    border-radius: var(--border-radius-little);
    background-color: var(--second-color);
    border: 1px solid var(--linear2);
    & button {
      cursor: pointer;
      min-width: 100%;
      background-color: transparent;
      border: none;
      color: var(--linear1);
    }
  }
}
.hide_container {
  scale: 0;
  background-image: none;
  transform-origin: top left;
}
