.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  // border: 2px solid var(--linear1);
  border-radius: var(--border-radius-big);
  background-color: var(--second-color);
  h3 {
    color: var(--linear2);
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-big);
    padding: 0px;
    font-size: var(--font-little);
    font-size: 1.3rem;
  }

  .slider {
    background-color: var(--second-color);
    border-radius: var(--border-radius-big);
    .image_container {
      .image {
        min-width: 100%;
        // border: 2px solid var(--linear2);
        min-height: 350px;
        border-radius: var(--border-radius-big);
        transition: 0.5s;
        scale: 0.9;
        cursor: pointer;
        @media (max-width: 779px) {
          min-height: 170px;
        }
        @media (max-width: 480px) {
          min-height: 200px;
        }
      }
      .image:hover {
        scale: 0.99;
      }
      .title {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 800;
        color: var(--linear1);
        padding-bottom: 4px;
        text-align: center;
        font-size: 0.9rem;
        min-height: 32px;
        padding: 4px;
        align-items: flex-start;
      }
      .little_font {
        font-size: 0.7rem;
      }
    }
  }
}

.left_arrow,
.right_arrow {
  color: var(--linear1);
  position: absolute;
  top: -8.5%;
  font-size: var(--font-big);
  cursor: pointer;
  z-index: 1;
  background-color: var(--modal-background);
  min-height: 109%;
  display: flex;
  align-items: center;
}

.left_arrow {
  left: 0;
  border-bottom-left-radius: var(--border-radius-big);
  border-top-left-radius: var(--border-radius-big);
}

.right_arrow {
  right: 0;
  border-bottom-right-radius: var(--border-radius-big);
  border-top-right-radius: var(--border-radius-big);
}
